<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Bean object of POJO class  (Student.java)   with name stdID-->
    <!--Bean obj can acces the properties of POJO class i.e. Student class-->
     <bean class="in.sk.beans.Student" id="stdId">
          <property name="name" value="Sakshi"/>
          <property name="rollno" value="101"/>
          <property name="email" value="sakshi@gmail.com"/>
     </bean>

    <bean class="in.sk.beans.Student" id="stdId1">
        <property name="name" value="Prachi"/>
        <property name="rollno" value="102"/>
        <property name="email" value="prachi@gmail.com"/>

    </bean>
</beans>