<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.sk.beans.Address" id="address1">
        <constructor-arg value="100"/>
        <constructor-arg value="Delhi"/>
        <constructor-arg value="1234567"/>

    </bean>

    <bean class="in.sk.beans.Student" id="stdId" autowire="constructor">
       <constructor-arg value="101" index="0"/>
        <constructor-arg value="Sakshi" index="1"/>
        <!--   <property name="address" ref="addrId"/>-->
    </bean>

</beans>