<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.sk.beans.Address" id="address"  autowire-candidate="false">
    <property name="houseno" value="100"/>
    <property name="city" value="Nagpur"/>
    <property name="pincode" value="123456"/>

    </bean>
    <bean class="in.sk.beans.Address" id="address1">
        <property name="houseno" value="101"/>
        <property name="city" value="Pune"/>
        <property name="pincode" value="476352"/>

    </bean>

    <bean class="in.sk.beans.Student" id="stdId" autowire="byType">
        <property name="rollno" value="101"/>
        <property name="name" value="Sakshi"/>
     <!--   <property name="address" ref="addrId"/>-->
    </bean>

</beans>